/*リセット用*/
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

header{
  height:65px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  border-bottom: 1px solid #dddddd;
  position: fixed;
  top:0;
  z-index: 10;
}

.header-left{
  float: left;
  color: #FFFFFF;
  padding: 21px 30px;
  font-weight: bold;
  font-size: 20px;
}
.header-left a{
  float:left;
  color: white;
}

.header-right{
  float: right;
  background-color: rgba(255, 255, 255,0.3);
  transition:all 0.5s;
}

.header-right:hover{
  background-color: rgba(255, 255, 255,0.5);
}

.header-right a{
  float:left;
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
}

main{
  width:100％;
  height: auto;
  background-color: rgb(237, 239, 244);
}

.slides{
  padding: 100px 10px 100px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-grow: 1;
  flex-basis: auto;
}

.slide{
  margin: 10px;
  border: 1px solid rgb(0, 0, 0);
  text-align: center;
  color: blue;
  background-color: rgb(247, 249, 254);

}

img[src*=sample-img]{
    width: 200px;
}

footer {
  height: 30px;
  background-color: rgb(138, 136, 135);
  padding: 15px 30px 10px;
  clear: left;
}

.footer-left{
  float:left;
}

.footer-right{
  float:right;
  font-size:4px;
}
