/*リセット用*/
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

header{
  height:65px;
  width: 100%;
/*  background-color: #324345;*/
  background-color: rgb(0, 0, 0);
  border-bottom: 1px solid #dddddd;
  position: fixed;
  top:0;
  z-index: 10;
}

.header-left{
  float: left;
  color: #FFFFFF;
  padding: 21px 30px;
  font-weight: bold;
  font-size: 20px;
}

.header-right{
  float: right;
  background-color: rgba(255, 255, 255,0.3);
  transition:all 0.5s;
}

.header-right:hover{
  background-color: rgba(255, 255, 255,0.5);
}

.header-right a{
  float:left;
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
}

main{
  width:100％;
/*  background-color: rgb(255, 255, 255);*/
  background-color: white;

}

.container{
  width: 100％;
  padding: 15px;
  margin: auto;
}

.top-wrapper{
  height: 200px;
  padding: 150px 0px 60px 0px;
  background-image: url(./img/ODRAT80.jpg);
  background-size: cover;
  color: blue;
  text-align: center;
}

.top-wrapper h1{
  opacity: 0.8;
  font-size: 36px;
  letter-spacing: 5px;
}

.top-wrapper p{
  opacity: 0.8;
  font-size:20px;
}

.usage-wrapper{
  height: 500px;
  padding: 0 0 80;
  background-color: white;
  text-align: center;
}

.heading{
  padding: 60px 0px 50px 0px;
  color:#5f5d60;
}
.heading h2{
  font-weight:normal;
  font-size: 30px;
}

.usage{
  float: left;
  width:33%;
}

.usage-icon{
  position:relative;
}

.usage-icon p{
  position: absolute;
  top: 65px;
  width:100%;
  color:black;
  font-style: bold;
  font-weight: bold;
}

.text-contents{
  width:70%;
  display:inline-block;
  margin:20px;
  font-size:18px;
  font-style: bold;
  color:rgb(102, 102, 94);

}

footer {
  height: 20px;
  background-color: rgb(138, 136, 135);
  padding: 15px 30px 10px;
  clear: left;
}

.footer-left{
  float:left;
}

.footer-right{
  float:right;
  font-size:8px;
}
