/*リセット用*/
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

header{
  height:65px;
  width: 100%;
/*  background-color: #324345;*/
  background-color: rgb(0, 0, 0);
  border-bottom: 1px solid #dddddd;
}

.header-left{
  float: left;
  color: #FFFFFF;
  padding: 21px 30px;
  font-weight: bold;
}

.header-right{
  float: right;
  background-color: rgba(255, 255, 255,0.3);
  transition:all 0.5s;
}

.header-right:hover{
  background-color: rgba(255, 255, 255,0.5);
}

.header-right a{
  float:left;
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
}

main{
  width:100％;
  background-color: rgb(255, 255, 255);
}
.container{
  width: 100％;
  padding: 15px;
  margin: auto;
}

.top-wrapper{
  padding: 100px 0px 100px;
  background-image: url(./ODRAT80.jpg);
  background-size: cover;
  color: blue;
  text-align: center;
}

.top-wrapper h1{
  opacity: 0.8;
  font-size: 36px;
  letter-spacing: 5px;
}

.top-wrapper p{
  opacity: 0.8;
  font-size:20px;
}

.usage-wrapper{
  height: 500px;
  padding: 0 0 80;
  background-color: rgb(230, 238, 232);
}

.heading{
  padding: 60 0 30;
  color:#5f5d60;
}
.heading h2{
  font-weight:normal;
}

.usage{
  float: left;
  width:30%;
}

footer {
  height: 20px;
  background-color: #FCFFC0;
  padding: 20px 30px 10px;
  clear: left;
}

.footer-left{
  float:left;
}

.footer-right{
  float:right;
}
